<div>
    <table class="w3-table-all" style="width: 50%; height: 50%;">
        <tbody>
            <tr>
                <th align="center" vlign="middle">Buổi</th>
                <th align="center" vlign="middle">Tiết</th>
                <th align="center" vlign="middle">Thứ 2</th>
                <th align="center" vlign="middle">Thứ 3</th>
                <th align="center" vlign="middle">Thứ 4</th>
                <th align="center" vlign="middle">Thứ 5</th>
                <th align="center" vlign="middle">Thứ 6</th>
                <th align="center" vlign="middle">Thứ 7</th>
            </tr>
            <tr>
                <td rowspan="5" align="center" vlign="middle">S</td>
                <td align="center" vlign="middle">1</td>
                <td align="center" vlign="middle"> CC</td>
                <td align="center" vlign="middle"> Tin(P.Tin2)</td>
                <td align="center" vlign="middle"> TD</td>
                <td align="center" vlign="middle"> Văn</td>
                <td align="center" vlign="middle"> Lý</td>
                <td align="center" vlign="middle"> Hóa</td>
            </tr>
            <tr>
                <td align="center" vlign="middle">2</td>
                <td align="center" vlign="middle">Địa</td>
                <td align="center" vlign="middle">Tin(P.Tin2)</td>
                <td align="center" vlign="middle">SiTiSu</td>
                <td align="center" vlign="middle">Toán(HH)</td>
                <td align="center" vlign="middle">Lý</td>
                <td align="center" vlign="middle">TD</td>
            </tr>
            <tr>
                <td align="center" vlign="middle">3</td>
                <td align="center" vlign="middle">Hóa</td>
                <td align="center" vlign="middle">CD</td>
                <td align="center" vlign="middle">SiTiSu</td>
                <td align="center" vlign="middle">Toán(HH)</td>
                <td align="center" vlign="middle">Toán</td>
                <td align="center" vlign="middle">Sinh</td>
            </tr>
            <tr>
                <td align="center" vlign="middle">4</td>
                <td align="center" vlign="middle">Hóa</td>
                <td align="center" vlign="middle">Toán</td>
                <td align="center" vlign="middle">AV</td>
                <td align="center" vlign="middle">AV</td>
                <td align="center" vlign="middle">Sử</td>
                <td align="center" vlign="middle">Văn</td>
            </tr>
            <tr>
                <td align="center" vlign="middle">5</td>
                <td align="center" vlign="middle">SH</td>
                <td align="center" vlign="middle">Toán</td>
                <td align="center" vlign="middle">AV</td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle">CN</td>
                <td align="center" vlign="middle">Văn</td>
            </tr>
            <tr>
                <td rowspan="5" align="center" vlign="middle">C</td>
                <td align="center" vlign="middle">1</td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
            </tr>
            <tr>
                <td align="center" vlign="middle">2</td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
            </tr>
            <tr>
                <td align="center" vlign="middle">3</td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle">CĐ1</td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle">QPAN</td>
                <td align="center" vlign="middle">CĐ2</td>
                <td align="center" vlign="middle"></td>
            </tr>
            <tr>
                <td align="center" vlign="middle">4</td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle">CĐ1</td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle">CN</td>
                <td align="center" vlign="middle">CĐ2</td>
                <td align="center" vlign="middle"></td>
            </tr>
            <tr>
                <td align="center" vlign="middle">5</td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle">CĐ1</td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle"></td>
                <td align="center" vlign="middle">CĐ2</td>
                <td align="center" vlign="middle"></td>
            </tr>
        </tbody>
    </table>
</div>
{{!-- <div style="padding-top: 7px;">
        <a href="../start.html"><button>Return</button></a> --}}
</div>